name: CI

# Trigger the workflow on push or pull request, but only for the master branch
on:
  pull_request:
  push:
    branches: [master]

defaults:
  run:
    shell: bash

jobs:
  cabal:
    name: ${{ matrix.os }} / ghc ${{ matrix.ghc }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          # Linux
          - { cabal: "3.10", os: ubuntu-22.04,  ghc: "8.0.2"  }
          - { cabal: "3.10", os: ubuntu-22.04,  ghc: "8.2.2"  }
          - { cabal: "3.10", os: ubuntu-22.04,  ghc: "8.4.4"  }
          - { cabal: "3.10", os: ubuntu-22.04,  ghc: "8.6.5"  }
          - { cabal: "3.10", os: ubuntu-22.04,  ghc: "8.8.4"  }
          - { cabal: "3.10", os: ubuntu-22.04,  ghc: "8.10.7" }
          - { cabal: "3.10", os: ubuntu-22.04,  ghc: "9.0.2"  }
          - { cabal: "3.10", os: ubuntu-22.04,  ghc: "9.2.8"  }
          - { cabal: "3.10", os: ubuntu-22.04,  ghc: "9.4.8"  }
          - { cabal: "3.10", os: ubuntu-22.04,  ghc: "9.6.5"  }
          - { cabal: "3.10", os: ubuntu-22.04,  ghc: "9.6.5",
              flags: "-fUnsafeChecks -fInternalChecks" }
          - { cabal: "3.10", os: ubuntu-22.04,  ghc: "9.8.2"  }
          # Win
          - { cabal: "3.10", os: windows-latest, ghc: "8.4.4"  }
          # OOM when building tests
          # - { cabal: "3.6", os: windows-latest, ghc: "8.6.5"  }
          # - { cabal: "3.6", os: windows-latest, ghc: "8.8.4"  }
          # - { cabal: "3.6", os: windows-latest, ghc: "8.10.4" }
          # Too flaky:
          # - { cabal: "3.6", os: windows-latest,  ghc: "9.0.1"  }
          # MacOS
          - { cabal: "3.10", os: macOS-13,       ghc: "8.4.4"  }
          - { cabal: "3.10", os: macOS-13,       ghc: "8.6.5"  }
          - { cabal: "3.10", os: macOS-13,       ghc: "8.8.4"  }
          - { cabal: "3.10", os: macOS-13,       ghc: "8.10.7" }
          - { cabal: "3.10", os: macOS-13,       ghc: "9.0.2"  }
          - { cabal: "3.10", os: macOS-latest,   ghc: "9.2.8"  }
          - { cabal: "3.10", os: macOS-latest,   ghc: "9.4.8"  }
          - { cabal: "3.10", os: macOS-latest,   ghc: "9.6.5"  }
          - { cabal: "3.10", os: macOS-latest,   ghc: "9.8.2"  }
      fail-fast: false

    steps:
    # ----------------
    - uses: actions/checkout@v4
      if: github.event.action == 'opened' || github.event.action == 'synchronize' || github.event.ref == 'refs/heads/master'
    # ----------------
    - uses: haskell-actions/setup@v2
      id: setup-haskell-cabal
      name: Setup Haskell
      with:
        ghc-version: ${{ matrix.ghc }}
        cabal-version: ${{ matrix.cabal }}
    # ----------------
    - uses: actions/cache@v3
      name: Cache ~/.cabal/store
      with:
        path: ${{ steps.setup-haskell-cabal.outputs.cabal-store }}
        key: ${{ runner.os }}-${{ matrix.ghc }}--${{ github.Shah }}-CACHE_V3
    # ----------------
    - name: "Install PAPI"
      run: |
        sudo apt-get install -y libpapi-dev
        echo FLAG_PAPI=-fBenchPAPI >> "$GITHUB_ENV"
      if: matrix.os == 'ubuntu-22.04'
    # ----------------
    - name: Versions
      run: |
        cabal -V
        ghc -V
    # ----------------
    - name: Make sdist
      run: |
        mkdir sdist
        cabal sdist vector -o sdist
    - name: Unpack
      run: |
        mkdir unpacked
        tar -C unpacked -xzf sdist/vector*tar.gz
        cd unpacked
    # ----------------
    - name: cabal check
      run: |
        (cd vector-stream && cabal -vnormal check)
        (cd vector        && cabal -vnormal check)
    # ----------------
    - name: Build
      run: |
        echo FLAG_PAPI=$FLAG_PAPI
        cabal configure ${{ matrix.flags }} $FLAG_PAPI --haddock-all --enable-tests --enable-benchmarks --benchmark-option=-l
        cabal build all --write-ghc-environment-files=always
    # ----------------
    - name: Test
      run: |
        cabal test all
    # ----------------
    - name: Bench
      run: |
        cabal bench all
